@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  font-family: "Quicksand", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.logo{
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}

.actions {
  display: flex;
  list-style-type: none;
  gap: 20px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.overlay{
  background-color: dodgerblue;
  width: 0;
  height: 10%;
  transition-duration: .3s;
}

.actions > li:hover{
  .overlay{
    width: 100%;
  }
}
a{
  text-decoration: none;
  color: #000000;
}